[submodule "vim/.vim/pack/tpope/start/vim-commentary"]
	path = vim/.vim/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/pack/SirVer/start/ultisnips"]
	path = vim/.vim/pack/SirVer/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/.vim/pack/lervag/start/vimtex"]
	path = vim/.vim/pack/lervag/start/vimtex
	url = https://github.com/lervag/vimtex
